In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")
sub_df = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train_df.value_counts

<bound method DataFrame.value_counts of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

# ****DATA PREPROCESSING****

In [5]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
train_df.drop(["Name","Cabin",'Ticket',"Fare"],axis=1,inplace=True)

In [9]:
test_df.drop(["Name","Cabin","Ticket","Fare"],axis=1,inplace=True)

In [10]:
train_df

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0              1         0       3    male  22.0      1      0        S
1              2         1       1  female  38.0      1      0        C
2              3         1       3  female  26.0      0      0        S
3              4         1       1  female  35.0      1      0        S
4              5         0       3    male  35.0      0      0        S
..           ...       ...     ...     ...   ...    ...    ...      ...
886          887         0       2    male  27.0      0      0        S
887          888         1       1  female  19.0      0      0        S
888          889         0       3  female   NaN      1      2        S
889          890         1       1    male  26.0      0      0        C
890          891         0       3    male  32.0      0      0        Q

[891 rows x 8 columns]

In [11]:
test_df

     PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
0            892       3    male  34.5      0      0        Q
1            893       3  female  47.0      1      0        S
2            894       2    male  62.0      0      0        Q
3            895       3    male  27.0      0      0        S
4            896       3  female  22.0      1      1        S
..           ...     ...     ...   ...    ...    ...      ...
413         1305       3    male   NaN      0      0        S
414         1306       1  female  39.0      0      0        C
415         1307       3    male  38.5      0      0        S
416         1308       3    male   NaN      0      0        S
417         1309       3    male   NaN      1      1        C

[418 rows x 7 columns]

In [12]:
train_df= pd.get_dummies(train_df,columns=["Sex"])
train_df.drop(["Sex_female"],axis=1,inplace=True)
test_df= pd.get_dummies(test_df,columns=["Sex"])
test_df.drop(["Sex_female"],axis=1,inplace=True)

In [13]:
train_df

     PassengerId  Survived  Pclass   Age  SibSp  Parch Embarked  Sex_male
0              1         0       3  22.0      1      0        S      True
1              2         1       1  38.0      1      0        C     False
2              3         1       3  26.0      0      0        S     False
3              4         1       1  35.0      1      0        S     False
4              5         0       3  35.0      0      0        S      True
..           ...       ...     ...   ...    ...    ...      ...       ...
886          887         0       2  27.0      0      0        S      True
887          888         1       1  19.0      0      0        S     False
888          889         0       3   NaN      1      2        S     False
889          890         1       1  26.0      0      0        C      True
890          891         0       3  32.0      0      0        Q      True

[891 rows x 8 columns]

In [14]:
test_df

     PassengerId  Pclass   Age  SibSp  Parch Embarked  Sex_male
0            892       3  34.5      0      0        Q      True
1            893       3  47.0      1      0        S     False
2            894       2  62.0      0      0        Q      True
3            895       3  27.0      0      0        S      True
4            896       3  22.0      1      1        S     False
..           ...     ...   ...    ...    ...      ...       ...
413         1305       3   NaN      0      0        S      True
414         1306       1  39.0      0      0        C     False
415         1307       3  38.5      0      0        S      True
416         1308       3   NaN      0      0        S      True
417         1309       3   NaN      1      1        C      True

[418 rows x 7 columns]

In [15]:
train_df["Sex_male"]= train_df["Sex_male"].map({True: 1, False: 0})
test_df["Sex_male"]= test_df["Sex_male"].map({True: 1, False: 0})

In [16]:
train_df

     PassengerId  Survived  Pclass   Age  SibSp  Parch Embarked  Sex_male
0              1         0       3  22.0      1      0        S         1
1              2         1       1  38.0      1      0        C         0
2              3         1       3  26.0      0      0        S         0
3              4         1       1  35.0      1      0        S         0
4              5         0       3  35.0      0      0        S         1
..           ...       ...     ...   ...    ...    ...      ...       ...
886          887         0       2  27.0      0      0        S         1
887          888         1       1  19.0      0      0        S         0
888          889         0       3   NaN      1      2        S         0
889          890         1       1  26.0      0      0        C         1
890          891         0       3  32.0      0      0        Q         1

[891 rows x 8 columns]

In [17]:
test_df

     PassengerId  Pclass   Age  SibSp  Parch Embarked  Sex_male
0            892       3  34.5      0      0        Q         1
1            893       3  47.0      1      0        S         0
2            894       2  62.0      0      0        Q         1
3            895       3  27.0      0      0        S         1
4            896       3  22.0      1      1        S         0
..           ...     ...   ...    ...    ...      ...       ...
413         1305       3   NaN      0      0        S         1
414         1306       1  39.0      0      0        C         0
415         1307       3  38.5      0      0        S         1
416         1308       3   NaN      0      0        S         1
417         1309       3   NaN      1      1        C         1

[418 rows x 7 columns]

In [18]:
mean_age_train = train_df["Age"].mean()
mean_age_test = test_df["Age"].mean()
train_df["Age"] = train_df["Age"].fillna(mean_age_train).astype(int)
test_df["Age"] = test_df["Age"].fillna(mean_age_test).astype(int)

In [19]:
train_df["Embarked"]= train_df["Embarked"].fillna(method="ffill")

In [20]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Embarked       0
Sex_male       0
dtype: int64

In [21]:
test_df.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Embarked       0
Sex_male       0
dtype: int64

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train_df['Age'] = scaler.fit_transform(train_df[['Age']])
test_df['Age'] = scaler.fit_transform(test_df[['Age']])

In [23]:
df_Pclass=pd.get_dummies(train_df['Pclass']).astype(int)
df_Pclass2=pd.get_dummies(test_df['Pclass']).astype(int)

In [24]:
df_Pclass.drop([1],axis=1,inplace=True)
df_Pclass
df_Pclass.rename(columns={2:"Pclass_2",3:"Pclass_3"},inplace=True)
df_Pclass2.drop([1],axis=1,inplace=True)
df_Pclass2
df_Pclass2.rename(columns={2:"Pclass_2",3:"Pclass_3"},inplace=True)

In [25]:
train_df = pd.concat([train_df,df_Pclass],axis=1)
test_df = pd.concat([test_df,df_Pclass2],axis=1)

In [26]:
train_df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Embarked,Sex_male,Pclass_2,Pclass_3
0,1,0,3,0.2750,1,0,S,1,0,1
1,2,1,1,0.4750,1,0,C,0,0,0
2,3,1,3,0.3250,0,0,S,0,0,1
3,4,1,1,0.4375,1,0,S,0,0,0
4,5,0,3,0.4375,0,0,S,1,0,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0.3375,0,0,S,1,1,0
887,888,1,1,0.2375,0,0,S,0,0,0
888,889,0,3,0.3625,1,2,S,0,0,1
889,890,1,1,0.3250,0,0,C,1,0,0
890,891,0,3,0.4000,0,0,Q,1,0,1

In [27]:
test_df

,PassengerId,Pclass,Age,SibSp,Parch,Embarked,Sex_male,Pclass_2,Pclass_3
0,892,3,0.447368,0,0,Q,1,0,1
1,893,3,0.618421,1,0,S,0,0,1
2,894,2,0.815789,0,0,Q,1,1,0
3,895,3,0.355263,0,0,S,1,0,1
4,896,3,0.289474,1,1,S,0,0,1
...,...,...,...,...,...,...,...,...,...
413,1305,3,0.394737,0,0,S,1,0,1
414,1306,1,0.513158,0,0,C,0,0,0
415,1307,3,0.500000,0,0,S,1,0,1
416,1308,3,0.394737,0,0,S,1,0,1
417,1309,3,0.394737,1,1,C,1,0,1

In [28]:
train_df.drop(['Pclass','Embarked'],axis=1,inplace=True)
test_df.drop(['Pclass','Embarked'],axis=1,inplace=True)

In [29]:
train_df.columns

Index(['PassengerId', 'Survived', 'Age', 'SibSp', 'Parch', 'Sex_male',
       'Pclass_2', 'Pclass_3'],
      dtype='object')

In [30]:
train_df=train_df.reindex(columns=['PassengerId', 'Pclass_2', 'Pclass_3', 'SibSp', 'Parch', 'Sex_male','Age','Survived'])
test_df=test_df.reindex(columns=['PassengerId', 'Pclass_2', 'Pclass_3', 'SibSp', 'Parch', 'Sex_male','Age'])

In [31]:
train_df

     PassengerId  Pclass_2  Pclass_3  SibSp  Parch  Sex_male     Age  Survived
0              1         0         1      1      0         1  0.2750         0
1              2         0         0      1      0         0  0.4750         1
2              3         0         1      0      0         0  0.3250         1
3              4         0         0      1      0         0  0.4375         1
4              5         0         1      0      0         1  0.4375         0
..           ...       ...       ...    ...    ...       ...     ...       ...
886          887         1         0      0      0         1  0.3375         0
887          888         0         0      0      0         0  0.2375         1
888          889         0         1      1      2         0  0.3625         0
889          890         0         0      0      0         1  0.3250         1
890          891         0         1      0      0         1  0.4000         0

[891 rows x 8 columns]

# ****SELECTING MODEL AND FITTING****

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [33]:
X = train_df.iloc[:,1:7]
y = train_df.iloc[:,7]

In [34]:
X

     Pclass_2  Pclass_3  SibSp  Parch  Sex_male     Age
0           0         1      1      0         1  0.2750
1           0         0      1      0         0  0.4750
2           0         1      0      0         0  0.3250
3           0         0      1      0         0  0.4375
4           0         1      0      0         1  0.4375
..        ...       ...    ...    ...       ...     ...
886         1         0      0      0         1  0.3375
887         0         0      0      0         0  0.2375
888         0         1      1      2         0  0.3625
889         0         0      0      0         1  0.3250
890         0         1      0      0         1  0.4000

[891 rows x 6 columns]

In [35]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.3,random_state=101)

In [37]:
train_X.shape

(623, 6)

In [38]:
test_X.shape

(268, 6)

# ****Predictions and Accuracy****

In [39]:
model = RandomForestClassifier()
model.fit(train_X,train_y)
trainy_pred = model.predict(train_X)
testy_pred = model.predict(test_X)
model_train_accuracy = accuracy_score(train_y,trainy_pred) 
model_test_accuracy = accuracy_score(test_y,testy_pred)
print("training accuracy", model_train_accuracy)
print("outofsampleaccuracy", model_test_accuracy)

training accuracy 0.92776886035313
outofsampleaccuracy 0.8134328358208955

# ****Hyperparameter tuning****

In [40]:
RF_params = {"criterion":['gini', 'entropy', 'log_loss'],
             "max_depth":[5,8,15,None],
             "min_samples_split":[2,8,14,20],
             "max_features":[4,5,7,'sqrt'],
             "n_estimators":[100,200,500,1000]}

In [41]:
RF_params

{'criterion': ['gini', 'entropy', 'log_loss'],
 'max_depth': [5, 8, 15, None],
 'min_samples_split': [2, 8, 14, 20],
 'max_features': [4, 5, 7, 'sqrt'],
 'n_estimators': [100, 200, 500, 1000]}

In [42]:
from sklearn.model_selection import RandomizedSearchCV

randomizedsearch = RandomizedSearchCV(estimator=model,param_distributions=RF_params,n_iter=10,cv=5)
randomizedsearch.fit(train_X,train_y)

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy',
                                                      'log_loss'],
                                        'max_depth': [5, 8, 15, None],
                                        'max_features': [4, 5, 7, 'sqrt'],
                                        'min_samples_split': [2, 8, 14, 20],
                                        'n_estimators': [100, 200, 500, 1000]})

In [43]:
randomizedsearch.best_params_

{'n_estimators': 500,
 'min_samples_split': 2,
 'max_features': 7,
 'max_depth': 5,
 'criterion': 'gini'}

In [44]:
model = RandomForestClassifier(n_estimators= 100,
 min_samples_split = 8,
 max_features = 4,
 max_depth = 5,
 criterion = 'log_loss')

model.fit(train_X,train_y)
trainy_pred = model.predict(train_X)
testy_pred = model.predict(test_X)
model_train_accuracy = accuracy_score(train_y,trainy_pred) 
model_test_accuracy = accuracy_score(test_y,testy_pred) 
print("training accuracy", model_train_accuracy)
print("outofsampleaccuracy", model_test_accuracy)

training accuracy 0.8459069020866774
outofsampleaccuracy 0.8171641791044776

# ****test set predictions****

In [45]:
test_df.iloc[:,1:7]

     Pclass_2  Pclass_3  SibSp  Parch  Sex_male       Age
0           0         1      0      0         1  0.447368
1           0         1      1      0         0  0.618421
2           1         0      0      0         1  0.815789
3           0         1      0      0         1  0.355263
4           0         1      1      1         0  0.289474
..        ...       ...    ...    ...       ...       ...
413         0         1      0      0         1  0.394737
414         0         0      0      0         0  0.513158
415         0         1      0      0         1  0.500000
416         0         1      0      0         1  0.394737
417         0         1      1      1         1  0.394737

[418 rows x 6 columns]

In [46]:
preds = model.predict(test_df.iloc[:,1:7])
preds

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [47]:
output = pd.DataFrame({'PassengerId': test_df['PassengerId'], 'Survived': preds})

output.to_csv('submission.csv', index=False)

output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]